<form action="${ok_url}" evalurl="${evalurl}" method="POST">
  <div class="dialog modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>${_('Evaluation configuration for')} ${modul.get_label(plural=True)}</strong></div>
          <div class="panel-body">
            <p>${body}</p>
            % if len(items) == 1:
            	<p>${_('You have selected %s %s for evaluation') % (len(items), modul.get_label(plural=False))}</p>
            % else:
            	<p>${_('You have selected %s %s for evaluation') % (len(items), modul.get_label(plural=True))}</p>
            % endif
          </div>
          <div class="panel-footer">
            <button type"submit" class="btn btn-primary nospinner">${action}</button>
            <a class="btn btn-default" href="${cancel_url}">${_('Close')}</a>
            <input type="hidden" name="confirmed" value="1"/>
            <input type="hidden" name="csrf_token" value="${request.session.get_csrf_token()}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
